@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sora", sans-serif;
}

.aai-gradient-outline-btn {
  padding: 15px 30px;
  color: var(--white);
  position: relative;
  display: inline-block;
  border-radius: 30px;
  font-size: 18px;
  transition: all 0.3s;
  z-index: 10;
  overflow: hidden;
}
.aai-gradient-outline-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(137deg, #80fcf0 0%, #ac5dfa 100%);
  transition: all 0.35s;
  border-radius: 30px;
  z-index: -1;
}
.aai-gradient-outline-btn:hover::after {
  width: 100%;
}
.aai-gradient-outline-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(137deg, #80fcf0 0%, #ac5dfa 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}